.login-buttons {
    background-color: transparent;
    color: #0c041c !important;
    border: 1px solid #0c041c;
}

.modal-header {
    border-bottom: 1px solid #dadada;
}

#exampleModal2 .modal-footer {
    border-top: 1px solid #dadada;
}

.bg-custom-grey {
    border: 1px solid #b6b6b6;
    background-color: #f1f1f1;
}

.login-form {
    width: 500px;
    margin: 12% 36%;
    background-color: #f1f1f1;
    padding: 20px;
}

.register-form {
    width: 500px;
    margin: 9% 36%;
    background-color: #f1f1f1;
    padding: 20px;
}

.login-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Times';
    letter-spacing: 1px;
    color: #057afc;
}

.change-to {
    cursor: pointer;
    text-align: center;
}