<!-- Button trigger modal -->

<button *ngIf="authService.userDetails" type="button" class="btn login-buttons" data-toggle="modal" data-target="#exampleModal2">
    {{ this.userData.userData.limba === "engleză" ? "Logout" : "Deconectează-te" }}
</button>

<div *ngIf="!authService.userDetails && !allowRegisterForm && !reset" class="login-form">
    <div class="login-title"> {{translate.ls("AUTENTIFICARE")}} </div>
    <div style="color: #057afc;" *ngIf="trimis"> {{translate.ls("Email-ul de resetare a fost trimis")}}. </div>
    <form name="userform" method="post" #formCtrl1="ngForm">
        <div class="form-group">
            <input type="email" id="exampleInputEmail1" name="example1" class="form-control" [(ngModel)]="user.email" [placeholder]="translate.ls('Adresă de email')" required>
        </div>
        <div class="form-group">
            <input type="password" id="exampleInputPassword1" name="example2" class="form-control" [(ngModel)]="user.password" [placeholder]="translate.ls('Parolă')" required>
        </div>
        <div style="color: red;" *ngIf="incorrectAuth"> {{translate.ls("Email-ul sau parola sunt incorecte")}}. </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="formCtrl1.form.invalid">
                {{translate.ls("Autentifică-te cu adresa de email")}}
            </button>
        </div>
    </form>
    <div class="change-to" (click)="inregistrare()">
        {{translate.ls("Nu ai cont? Înregistrează-te!")}}
    </div>
    <div class="change-to" (click)="showResetPassword()">
        {{translate.ls("Ai uitat parola?")}}
    </div>
</div>

<!--Log Out Modal -->

<div class="modal fade" style="margin-top: 225px;" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-custom-grey">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">{{translate.tr("Deconectează-te")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{translate.tr("Ești sigur(ă) că dorești să te deconectezi?")}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 14.8rem; padding:9px;">{{translate.tr("Anulează")}}</button>
                <div class="col-xs-7"></div>
                <button type="button" class="btn btn-primary" style="padding: .5rem .72rem" (click)="logout()">{{translate.tr("Da")}}</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="allowRegisterForm && !authService.userDetails && !reset" class="register-form">
    <div class="login-title"> {{translate.ls("ÎNREGISTRARE")}} </div>
    <form name="userform" method="post" #formCtrl="ngForm">
        <div class="form-group">
            <input type="email" id="exampleInputEmail3" name="example1" class="form-control" [(ngModel)]="user.email" [placeholder]="translate.ls('Adresă de email')" required>
        </div>
        <div class="form-group">
            <input type="email" id="username" name="username" class="form-control" [(ngModel)]="user.username" [placeholder]="translate.ls('Nume utilizator')" required>
        </div>
        <div class="form-group">
            <input type="password" id="exampleInputPassword3" name="example2" class="form-control" [(ngModel)]="user.password" [placeholder]="translate.ls('Parolă')" required>
        </div>
        <div class="form-group">
            <input type="password" id="exampleInputPassword7" name="example3" class="form-control" [(ngModel)]="user.passwordAgain" [placeholder]="translate.ls('Reintroduceți parola')" required>
        </div>
        <div *ngIf="notMatch" style="color: red"> {{translate.ls('Cele două parole introduse nu sunt identice')}}. </div>
        <div *ngIf="alreadyInUse" style="color: red;"> {{translate.ls('Adresa de email este deja folosită')}}. </div>
        <div *ngIf="badlyFormated" style="color: red"> {{translate.ls('Adresa de email nu are format-ul corect')}}. </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="createAccount()" [disabled]="formCtrl.form.invalid">
                {{translate.ls('Creează cont')}}
            </button>
        </div>
    </form>
    <div class="change-to" (click)="alreadyRegistered()">
        {{translate.ls('Ai deja cont? Autentifică-te!')}}
    </div>
</div>

<div *ngIf="!allowRegisterForm && !authService.userDetails && reset" class="register-form">
    <div class="login-title"> {{translate.ls('RESETARE PAROLĂ')}} </div>
    <form>
        <div class="form-group">
            <input #email1 type="text" id="exampleInputEmail34" name="example1" class="form-control" [placeholder]="translate.ls('Adresă de email')">
        </div>
        <div style="color: red;" *ngIf="badReset"> {{translate.ls('Adresa de email nu are format-ul corect')}}. </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="resetPassword(email1.value)">
                {{translate.ls('Trimite email-ul de resetare a parolei')}}
            </button>
        </div>
    </form>
    <div class="change-to" (click)="inapoi()">
        {{translate.ls('Nu doresc să resetez parola')}}.
    </div>
</div>