.items-container {
    width: 258px;
    height: 290px;
    margin: 20px;
    float: left;
}

.img-1 {
    height: 230px;
    width: 180px;
    margin-top: 58px;
}

.img-2 {
    height: 230px;
    width: 180px;
    margin-top: -375px;
    margin-left: 76px;
}