<div id="itemDiv" #itemDiv class="col-xs-5 float-left item-class grow" [ngClass]="{'formodal': useOthers, 'grow': (!useOthers || carousel || profile), 'carousel': carousel, 'profile': profile, 'myBooks-ind': category === 'myBooks' && item.status === 'indisponibil'}" (click)="doAction()">
    <img [ngClass]="{'item-img': true, 'indisponibil-img': item.status === 'indisponibil' || item.actiune === 'refuzat'}" src="{{item.poza}}"> <br>
    <div [ngClass]="{'item-text': true, 'indisponibil-txt': item.status === 'indisponibil' || item.actiune === 'refuzat'}"> {{item.titlu}} </div> <br>
    <div #select class="select-square" *ngIf="squareSelector"></div>
    <div *ngIf="false" class="item-text"> {{item.trader}} </div>
    <button #button1 class="custom-button" *ngIf="isNotMine() && allowedActiune" data-toggle="modal" data-target="#modal2" (click)="setItemForNewTrade()"> Solicita schimb </button>
    <button class="custom-button" *ngIf="zona_de_raspuns" data-toggle="modal" data-target="#modalChosenSolicitate" (click)="databaseService.answerOffer(item)"> Raspunde </button>
    <button class="custom-button" *ngIf="item && item.pe_asta" (click)="acceptaAceastaCarte()"> Alege </button>
    <button class="custom-button" *ngIf="alege_catalog && !showDeselect" (click)="chooseBookTrade()"> Selecteaza </button>
    <button class="custom-button" *ngIf="alege_catalog && showDeselect" (click)="anuleazaAlegerea()"> Deselecteaza </button>
    <button class="custom-button" *ngIf="item && item.oferi_schimb" data-toggle="modal" data-target="#modalChosenSolicitate" id="chosenBooks_seeBooksInExchange" (click)="databaseService.seeBooksInExchange(item)">
        Vezi cartile pe care le oferi la schimb
    </button>
    <div *ngIf="item.status === 'indisponibil'" [ngClass]="{'indisponibil-myBooks': (category === 'myBooks' || category === 'chosenByMe'), 'indisponibil-modal': item.exchange || item.pe_asta }">
        Indisponibilă
    </div>
    <div *ngIf="item.actiune === 'refuzat' && item.status !== 'indisponibil'" [ngClass]="{'indisponibil-myBooks': category === 'chosenByMe', 'refuzat': category === 'chosenByMe'}">
        Refuzat
    </div>
    <div *ngIf="category === 'myBooks' && item.status !== 'indisponibil'" (click)="removeMyBook()" class="remove">
        Șterge
    </div>
    <div *ngIf="category === 'myBooks' && item.status !== 'indisponibil'" (click)="editMyBook()" class="edit">
        Editează
    </div>
</div>