.item-class {
    min-height: 305px;
    height: auto;
    width: 200px;
    margin: 20px;
    border: 1px solid #d0c5c5;
    text-align: center;
    padding: 15px;
}

.item-img {
    width: 100%;
    height: 190px;
}

.item-text {
    font-size: 15px;
    font-weight: bold;
}

.custom-button {
    background-color: transparent;
    font-size: 16px;
}

.trade {
    background-color: green !important;
}