.book-catalogue {
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 120px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dedbdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dedbdb;
}

.item-img {
    width: 280px;
    height: 373px;
}

.custom-div {
    border: 1px solid #e0d6d6;
    background: #e0d6d6;
    margin-top: 282px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}