<div class="book-catalogue">
    <div *ngFor="let item of items">
        <catalogue-item [item]="item" [allowedActiune]="true"></catalogue-item>
    </div>
</div>

<!--Modal detalii carti-->
<div class="modal fade" id="modalDetalii" tabindex="-1" role="dialog" aria-labelledby="modalDetalii" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 767px;margin-left: -160px;margin-top: 180px; height:400px;">
            <div *ngIf="databaseService.itemModalDetalii" class="row" style="padding: 14px 20px;">
                <div class="col-lg-5">
                    <img class="item-img" src="{{databaseService.itemModalDetalii.poza}}"> <br>
                </div>
                <div class="col-lg-7">
                    <div>
                    <span> <b>Titlu: </b> {{databaseService.itemModalDetalii.titlu}} </span> <br>
                    <span> <b>Utilizator: </b> {{databaseService.itemModalDetalii.proprietarCurent}} </span> <br>
                    </div>
                    <div class="custom-div" data-toggle="modal" data-target="#modal2" (click)="tradeBook()"> Trade </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal pt o carte din pagina de carti-->
<div class="modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modallabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 767px;margin-left: -160px;margin-top: 108px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">
                    Alege cartile pe care ai dori sa le oferi la schimb
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll;height: 410px !important;">
                <div class="inside" *ngIf="myBooks.length >= 1">
                    <ng-container *ngFor="let item of myAvailableBooks">
                        <catalogue-item [useOthers] = "true" [squareSelector]="true" [item]="item" [alege_catalog]="true" [allowedActiune]="false"></catalogue-item>
                    </ng-container>
                </div>
                <div *ngIf="myBooks.length == 0">
                    Schimbul nu poate fi realizat deocamdata, deoarece nu exista carti disponibile.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 25px;">Close</button>
                <div class="col-lg-7 col-md-7 col-xs-7"></div>
                <button [disabled] = "!this.databaseService.tradeBooksForChosenBooks" type="button" class="btn btn-primary" (click)="databaseService.addChosenBookAndTradeBooks()">Trimite oferta </button>
            </div>
        </div>
    </div>
</div>