<div class="event-item">
    <div>
        <div class="text">
            <div class="nume"> {{item.nume}} </div>
            <div class="invitat"> <span *ngIf="item.invitat != '-'"> Invitat special: {{item.invitat}} </span> </div>
            <div class="data"> {{item.data}}, {{item.ora_inceput}}-{{item.ora_final}} </div>
            <div class="oras"> {{item.oras}}, {{item.adresa}} </div>
        </div>
        <div class="other">
            <div class="custom-div grow" (click)="modalDetalii()"> Detalii despre eveniment </div>
            <div class="custom-div grow" (click)="modalParticipanti()"> Lista participanților la eveniment </div>
            <div *ngIf="arataButonParticipa()" class="custom-div grow" (click)="participa()"> Participă la acest eveniment</div>
            <div *ngIf="!arataButonParticipa()" class="custom-div grow" (click)="retrageTe()"> Anulează participarea la acest eveniment </div>
        </div>
        <img class="img" [src]="item.poza">
    </div>
    <div *ngIf="item.organizator === userDataService.userData.email" class="editevent" (click)="editeazaEveniment()"> Editeza </div>
</div>

<div class="modal fade" [id]="'modalParticipanti' + id" tabindex="-1" role="dialog" aria-labelledby="modallabelparticipanti" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 767px;margin-left: -150px;margin-top: 200px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabelparticipanti">
                    Participanti
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll;height: 300px !important;">
               <div *ngFor="let elem of participantiDetaliat">
                   <person-item [item]="elem"></person-item>
               </div>
            </div>
        </div>
    </div>
</div>

<!--modal detalii-->
<div class="modal fade" [id]="'modalDetalii' + id" tabindex="-1" role="dialog" aria-labelledby="modalLabelDetalii" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 767px;margin-left: -150px;margin-top: 200px;">
            <div class="modal-body" style="height: 350px !important; background: #f1f1f1;">
                <div style="text-align: center; font-size: 30px; padding-bottom: 30px;"> {{item.nume}} </div>
                <div class="detalii">
                    {{item.detalii}} <br/> <br/>
                    Evenimentul va avea loc în {{item.oras}}, {{item.adresa}} pe data de {{item.data}}
                    între orele {{item.ora_inceput}} și {{item.ora_final}}. Pentru alte detalii, ne puteți contacta la numărul
                    de telefon {{item.telefon}}.
                </div>
            </div>
        </div>
    </div>
</div>
