<!--<div *ngIf="!username && authService.logged()"> loading </div>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #4D6D9A !important;">
  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10" id="navbarSupportedContent">
    <div class="col-xs-8">
      <search-form></search-form>
    </div>
  </div>
  <span> {{userDataService.userData.username}} </span>
  <a *ngIf="authService.userDetails && userDataService.userData.username" href="/#/profile"> Profil </a>
  <app-login></app-login>
</nav>

<router-outlet></router-outlet>