<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
  <div class="totNav" style="margin-left: -20px;">  </div>
    <div class="logo"> B S </div>
  <div class="search-form-div col-xs-10" id="navbarSupportedContent">
    <div class="col-xs-8">
      <search-form></search-form>
    </div>
  </div>
  <div class="menu-pages">
   <div>
    <a class="m-item" *ngIf="authService.userDetails && userDataService.userData.username" href="/#/books"> Carti </a>
   </div>
   <div>
     <a class="m-item" *ngIf="authService.userDetails && userDataService.userData.username" href="/#/events"> Evenimente </a>
   </div>
   <div>
     <a class="m-item" *ngIf="authService.userDetails && userDataService.userData.username" href="/#/profile"> Profil </a>
   </div>
   <div>
     <a class="m-item" *ngIf="authService.userDetails && userDataService.userData.username" href="/#/chat"> Chat </a>
   </div>
  </div>
  <div class="name-span"> {{userDataService.userData.username}} </div>
  <div class="login-div">
    <app-login></app-login>
  </div>
</nav>

<div class="bg-color">
  <router-outlet></router-outlet>
</div>
