.custom-div {
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 500px;
    float: left;
    margin-right: 65px;
    margin-bottom: 20px;
}

.custom-div:hover {
    opacity: 0.9;
    background-color: #ffffff;
}

.selected {
    background-color: #ffffff;
}

.adaugaEveniment {
    clear: both;
    margin-left: 1570px !important;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-bottom: -9px;
    font-size: 20px;
    border: 1px solid #000000;
}

.event {
    clear: left;
}

.buttons {
    margin-left: 140px;
    margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dedbdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dedbdb;
}
