.bg-image {
    background-image: url("../../assets/design.png");
    width: 1040px;
    margin-left: -280px;
    margin-top: 70px;
    height: 770px;
}

.circle {
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.circle-0 {
    position: absolute;
    margin-left: 450px !important;
    margin-top: 156px !important;
}

.circle-1 {
    position: absolute;
    margin-left: 184px !important;
    margin-top: 245px !important;
}

.circle-2 {
    position: absolute;
    margin-left: 78px !important;
    margin-top: 462px !important;
}

.circle-3 {
    position: absolute;
    margin-left: 183px !important;
    margin-top: 683px !important;
}