<div class="profile">
    <div style="width: 100%; clear: right">
        <div style="width: 100%">Cartile mele</div>
        <ng-container *ngFor="let item of myBooks">
            <catalogue-item [item]="item"></catalogue-item>
        </ng-container>
    </div>
    <div style="width: 100%; clear: left;">
        <div style="width: 100%">Carti solicitate de mine</div>
        <ng-container *ngFor="let item of chosenByMe">
            <catalogue-item [item]="item"></catalogue-item>
        </ng-container>
    </div>
    <div style="width: 100%; clear: left;">
        <div style="width: 100%">Schimburi propuse</div>
        <ng-container *ngFor="let item of solicitate">
            <catalogue-item [item]="item" [zona_de_raspuns]="true"></catalogue-item>
        </ng-container>
    </div>
    <div style="width: 100%; clear: left;">
        <div style="width: 100% !important;">Schimburi in desfasurate</div>
        <ng-container *ngFor="let items of acceptate">
            <ng-container *ngIf="items[0] && items[1]">
                <two-items-container [itemArray]="items"></two-items-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!--Modal pt raspuns-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modallabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 767px;margin-left: -160px;margin-top: 108px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                    <!--Schimba cartea-->
                    {{databaseService.modal1.title}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll;height: 410px !important;">
                <div *ngIf="databaseService.booksInModal.length >= 1">
                    <!--Daca esti de acord sa schimbi aceasta carte, alege cartea pe care o vrei pentru ea: <br>-->
                    {{databaseService.modal1.body}}
                    <ng-container *ngFor="let item of databaseService.booksInModal">
                        <catalogue-item [useOthers]="true" [item]="item"></catalogue-item>
                    </ng-container>
                </div>
                <div *ngIf="databaseService.booksInModal.length == 0">
                    <!--Schimbul nu poate fi realizat deocamdata, deoarece nu exista carti disponibile.-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 27px;">Close</button>
                <div class="col-lg-7 col-md-7 col-xs-7"></div>
                <button type="button" class="btn btn-primary" (click)="databaseService.refuza(databaseService.modal1.rightButton)"> {{databaseService.modal1.rightButton}} </button>
            </div>
        </div>
    </div>
</div>
