/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dedbdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dedbdb;
}

.profile {
    padding-top: 40px;
    padding-left: 230px;
}

.adaugaCarte {
    margin-left: 130px !important;
    background-color: #0c041c;
    color: #f1f1f1;
    border-radius: 20px;
    width: 138px;
    text-align: center;
    cursor: pointer;
}

.editeazaInformatii {
    margin-left: 202px !important;
    background-color: #0c041c;
    color: #f1f1f1;
    border-radius: 20px;
    width: 210px;
    text-align: center;
    cursor: pointer;
}

.grow {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.grow:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.fc-editeaza {
    width: 534px !important;
}

.fl-editeaza {
    float: left !important;
    margin-right: 10px !important;
    margin-top: 8px !important;
}

.profile-pic-add {
    height: 290px;
    width: 257px;
    border: 1px solid black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.profile-picture-div {
    margin-left: 65px;
}

.info-div {
    height: 290px;
    margin-left: 570px;
    padding-top: 45px;
}

.select-custom {
    border: 1px solid;
    padding: 0 0;
    width: 326px;
    height: 31px !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #0c041c;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}

.select-custom:hover {
    background: #f1f1f1;
    color: #0c041c;
}

.item-img {
    width: 280px;
    height: 373px;
}

.custom-div {
    border: 1px solid #e0d6d6;
    background: #e0d6d6;
    margin-top: 132px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
